.banner {
  width: 237px;
  background-color: #a5cdab;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 120px;
  right: 0;
  order: 3;
  z-index: 10;
}

.banner__link {
  text-decoration: none;
  margin: 0;
  padding: 0;
}

.banner__button {
  background-image: url("../../images/banner__close-button.svg");
  background-color: transparent;
  background-repeat: no-repeat;
  padding: 0;
  border: 0;
  width: 24px;
  height: 24px;
  position: absolute;
  top: 2px;
  left: -24px;
  cursor: pointer;
}

.banner__button:hover {
  opacity: 50%;
}

.banner__subtitle {
  font: 14px "PT Sans", sans-serif;
  padding: 12px 0 16px;
  margin: auto;
  width: 189px;
  color: #323232;
  line-height: 18px;
}

.banner__title {
  font: 26px "WF", sans-serif;
  text-transform: uppercase;
  padding: 16px 0 0;
  margin: auto;
  max-width: 189px;
  width: 100%;
  color: #323232;
  font-weight: 400;
}

@media screen and (max-width: 1023px) {
  .banner {
    width: 191px;
    top: 90px;
  }
  .banner__button {
    background-image: url("../../images/banner__close_buton_320px.svg");
    left: -15px;
  }
  .banner__subtitle {
    width: 150px;
    padding: 12px 0 12px;
    font-size: 12px;
    line-height: 16px;
  }

  .banner__title {
    max-width: 150px;
    width: 100%;
    padding: 12px 0 0;
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  .banner {
    width: 160px;
    top: 53px;
    display: flex;
  }
  .banner__subtitle {
    width: 130px;
    padding: 5px 0 12px;
    margin: auto;
  }

  .banner__title {
    max-width: 130px;
    width: 100%;
    padding: 12px 0 0;
  }
}
