.button_contens {
  font: 26px "WF", sans-serif;
  color: #323232;
  position: fixed;
  margin: 0;
  top: 359px;
  left: -25px;
  background-color: transparent;
  border: none;
  transform: rotate(-90deg);
  cursor: pointer;
}

@media screen and (max-width: 1023px) {
  .button_contens {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 767px) {
  /*.button_contens {
    display: none;
  }*/
}

.button_contens::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 0;
  height: 1px;
  background-color: #323232;
  transition: width 0.2s ease-in-out;
}

.button_contens:hover::after {
  width: 100%;
}

@media screen and (max-width: 500px) {
  .button_contens {
    display: none;
  }
}
