.title {
  font-weight: 400;
  max-width: 1163px;
  width: 100%;
  color: #323232;
  padding: 70px 0 0 0;
  word-wrap: normal;
  margin: 0;
  overflow-wrap: anywhere;
  font: 46px "WF", sans-serif;
}

@media screen and (max-width: 1023px) {
  .title {
    max-width: 676px;
    padding-top: 40px;
    font-size: 30px;
    line-height: 37px;
  }
}

@media screen and (max-width: 767px) {
  .title {

    padding-top: 20px;
    font-size: 26px;
    line-height: 1;
  }
}
